form {
    color: white;
}

#wrap {
    position: fixed;
    width: 100%;
    left: 0;
}

#name {
    position: fixed;
    left: 15%;
}

#types {
    position: fixed;
    left: 30%;
    width: 60%;
}

input[type=text] {
    position: fixed;
    left: 30%;
    width: 60%;
    height: 30px;
    border  -radius: 5px;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
}

.link-name {
    position: fixed;
    top: 30%;
}

.link-type {
    position: fixed;
    top: 40%;
}

.link-title {
    position: fixed;
    top: 50%;
}

.link-url {
    position: fixed;
    top: 60%;
}

a {
    color: inherit;
    text-decoration: none;   
}

#add-submit {
 -webkit-appearance: none;
    
    position: fixed;
    height: 50px;
    width: 100px;
    top: 70%;
    left: 81%;
    
    background: #c0c0c0;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;   
}

#add-statement {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-right: 5%;
}