@import url("fonts/fonts.css");

#home-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #000066;
    z-index: 1;
}

#home-top-bar td {
    position: fixed;
    z-index: 1;
    top: 9%;
    color: white;
    font-family: trajan;
}

#home-top-bar .block {
    position: fixed;
    width: 20%;
    height: 15%;
    top: 2%;
    vertical-align: middle;
    text-align: center;
}

.word {
    padding: 10%;
}

.word2 {
    padding-top: 15%;
}

#title {
    top: 5%;
    font-size: 200%;
    left: 5%;
}

#add-new {
    left: 55%;
    top: 11%;
}

#explore {
    left: 80%;
    top: 11%;
}

#home-body {
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: #666699;
}

#home-bottom-bar {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #000066;
}

#search-bar {
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: #666699;
    z-index: 1;
}

#results {
    position: absolute;
    overflow: hidden;
    top: 35%;
    left: 0;
    width: 100%;
    height: 65%;
    
    background-color: #666699;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
